.bookItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bookTitle {
  width: 90%;
  align-self: flex-end;
  font-size: 1.2rem;
  font-weight: bold;
}

.bookDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  dl {
    display: grid;
    grid-template-columns: auto 1fr; /* Auto-width for labels, remaining space for values */
    
    gap: 0.5rem;
  }
  dt {
    text-align: left;
    font-weight: bold;
  }
  dd {
    margin: 0;
  }
}


.filterSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.filterInput {
  padding: 5px;
  margin-inline: 1rem;
}